<section class="container-md d-none" id="gameZone">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <div class="alert alert-info py-2 rounded-0" role="alert" style="width: 100vw;
  position: absolute;
  left: 0vw; background-color: #6cefc3;">
        <div class="row align-items-center">
            <div class="col-2">
                <p class="lead fw-bold mb-0" id="clock">0</p>
            </div>
            <div class="col-10 col-md-8 text-center" id="wordDiv">codesangam</div>
        </div>
    </div>
<div class="achievement" style="background-color: #1d4095;
height: 72px;
width: 229px;
position: absolute;
bottom: 3vh;
left: 0;
z-index: 1;
border-radius: 6px;">

<h3 style="font-size: 20px;
color: white;
padding-left: 10px;">Share Your Drawing</h3>

  <!-- facebook -->
  <a class="facebook" target="blank"><i class="fab fa-facebook" style="font-size: 30px;"></i></a>
  
  <!-- twitter -->
  <a class="twitter" target="blank"><i class="fab fa-twitter" style="font-size: 30px;color: white;"></i></a>
  
  <!-- linkedin -->
  <a class="linkedin" target="blank"><i class="fab fa-linkedin" style="font-size: 30px;color: white;"></i></a>
  
  <!-- reddit -->
  <a class="reddit" target="blank"><i class="fab fa-reddit" style="font-size: 30px; color: white;"></i></a>

  <!-- whatsapp-->
  <a class="whatsapp" target="blank"><i class="fab fa-whatsapp" style="font-size: 30px;color: white;"></i></a>

  <!-- telegram-->
  <a class="telegram" target="blank"><i class="fab fa-telegram" style="font-size: 30px;color: white;"></i></a>

</div>
<div class="col-3 col-lg-2 h-100 players" style="    background:rgb(8, 34, 46);
color: white;
position: absolute;
left: 1vw;
top: 17vh;
margin: auto;z-index: 0.8;">

<h2>Leaderboard</h2>

</div>

<div id="toolbox" style="height: 475px; visibility: visible; opacity: 1; user-select: none; font-family:monospace; overflow-y: hidden; background-color: aquamarine;">

<div id="toolscontainer">
<h5 style="font-size: 18px;">Tools</h5>
<button class="tools" id="eraser" onclick="start_eraser()"><img id="icon" style="width:21px;height:21px" src="js/eraser.jpeg"></button>
<button class="tools" id="bucketFill" onclick="bucket_fun()"><img id="icon" style="width:21px;height:21px" src="js/bucket.jpeg"></button>
</div>

<div id="toolproperties">
    <h5 style="font-size: 18px; font-family: 'Times New Roman', Times, serif;">Tool Properties</h5>
    <div id="properties" style="width:85%">Stroke Size<input id="strokewidth" value="5" type="range" min="0.5"
        max="50" placeholder="Example: 1"></input></div>

    <div id="properties" style="width:85%">Pen Color<input id="strokecolor" value="#000000" type="color"></div>
    <div id="properties2" style="width:0%">Board Color<input id="boardcolor" value="#ffffff" type="color"></div>
  </div>

  <div id="actions">
    <h5 style="font-size: 18px;">Actions</h5>
    <button class="action" id="action1" onclick="clear_page(cntx)"><span class="tooltiptext"
        style="bottom:115%;left: 0%;">Clear Page</span><img id="icon" src="Clear.svg"></button>

    <button class="action" id="action8" onclick="undo()"><span class="tooltiptext"
        style="bottom:355%;left:0%;">Undo</span><img id="icon" style="background-color: white;
        padding: 3px;" src="Undo.svg"></button>
    <button class="action" id="action9" onclick="redo()"><span class="tooltiptext"
        style="bottom:335%;left:-100%;">Redo</span><img id="icon" style="background-color: white;
        padding: 3px;" src="Redo.svg"></button>
        <button class="action" id="action9" onclick="start_rect_drawing()"><span class="tooltiptext"
          style="bottom:335%;left:-100%;">Rect</span><img id="icon" src="rect.png" style="height: 15px;"></button>
          <button class="action" id="action9" onclick="start_circle_drawing()"><span class="tooltiptext"
            style="bottom:335%;left:-100%;">Circle</span><img id="icon" src="circle.png" style="height: 15px;"></button>
            <button class="action" id="action9" onclick="line()"><span class="tooltiptext"
              style="bottom:335%;left:-100%;">Triangle</span><img id="icon" src="triangle.png" style="height: 15px;"></button>
              <button class="action" id="action4" onclick="download_img()" alt="Download as .jpg"><span class="tooltiptext" style="bottom:115%;left:-100%;">Download Image</span><img id="icon" style="width: 24px;" src="js/download.png"></button>
        
        </div>


  </br>
</div>


  <div class="frame" style="visibility: hidden;" id="rocket">
  
      <div class="loader">
    
        <div class="loader-ring"></div>
        
        <div class="rocket-wrapper">
          <div class="trail-wrapper">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/trail.png" alt="" class="trail" />
          </div>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/61488/small-rocket.png" alt="" class="rocket" />
        </div>
        
        <div class="clouds-wrapper">
          
          <svg class="clouds" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92 90.83">
            <defs>
              <clipPath id="clip-path" transform="translate(1.75)">
                <circle cx="42.5" cy="42.5" r="42.5" fill="none" />
              </clipPath>
              <filter id="goo" color-interpolation-filters="sRGB">
                <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -11" result="goo" />
                <feBlend in="SourceGraphic" in2="goo" />
              </filter>
              <filter id="blurMe">
                <feGaussianBlur in="SourceGraphic" stdDeviation="0.9" />
              </filter>
            </defs>
            <g clip-path="url(#clip-path)" fill="#eef2f3" filter="url(#goo)">
              <g class="clouds-wrapper" filter="url(#blurMe)">
                <ellipse class="cloud" cx="40" cy="61.83" rx="7" ry="7" />
                <ellipse class="cloud" cx="81" cy="68.83" rx="8" ry="8" />
                <ellipse class="cloud" cx="6" cy="63.83" rx="6" ry="6"/>
                <ellipse class="cloud" cx="15" cy="70.83" rx="11" ry="11"  />
                <ellipse class="cloud" cx="65" cy="74.83" rx="11" ry="11"  />
                <ellipse class="cloud" cx="48" cy="71.83" rx="14" ry="14" />
                <ellipse class="cloud" cx="34" cy="75.83" rx="16" ry="16" />
              </g>
            </g>
          </svg>
          
        </div>
    
      </div>
    
    </div> 
  

  <div id="pagecontainer">
    <canvas id="canvas1">
      <p>Your Browser is not supported by this web app. We regret the inconveniance caused.</p>
      <p>Please try one of these supported browsers:</p>
      <p><a href="www.mozilla.org">Mozilla Firefox</a></p>
      <p><a href="www.google.com/chrome">Google Chrome</a></p>
      <p><a href="#"></a></p>
    </canvas>
    <canvas id="canvas2" height="0" width="0">
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </canvas>

    <canvas id="canvas3">
      <p>Your Browser is not supported by this web app. We regret the inconveniance caused.</p>
      <p>Please try one of these supported browsers:</p>
      <p><a href="www.mozilla.org">Mozilla Firefox</a></p>
      <p><a href="www.google.com/chrome">Google Chrome</a></p>
      <p><a href="#"></a></p>
    </canvas>

    <div id="image_input_menu">
      <label style="width:48%;float:left">Width:<input type="number" class="input_image_dimensions"
          id="input_image_width" name="input_image_width" value="300"></label>
      <label style="width:48%;float:left">Height:<input type="number" class="input_image_dimensions"
          id="input_image_height" name="input_image_height" value="200"></label>
      <h5>Preview:</h5>
      <img id="preview" width="300" height="200">
      <button class="action" style="width:100%" onclick="imgavailable()">Add Image to Board</button>
    </div>
    <div class="row1 row justify-content-center mx-0" style="position: absolute;
    top: 17vh;">
      
      <div class="col-9 col-lg-7 h-100 d-flex flex-column pe-0 px-lg-3">
      </div>
      <div class="col-lg-3 h-100 bg-white p-0 mt-3 mt-lg-0 " style="width: 100%;">
        <div class="messages"></div>
        <form id="sendMessage" style="background-color: black;" class="m-2">
          <input class="form-control" type="text" placeholder="Type your guess here...">
          <div class="position-relative">
            <ul class="list-group mt-1" id="suggestions"></ul>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="chat">
      Chat Section
    </div>
    <div class="scoreboard">
      Scoreboard Section
    </div> -->
    <div class="notifier" id="notifier1"></div>

  </div>




</section>