<!-- <link rel="stylesheet" href="css/firework.css"> -->



<section class="container d-none" id="gameEnded">
    <!-- <div class="scene">
  
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
        <div class="launcher">
          <div class="container">
            <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
            <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
          </div>
        </div>
       
      </div> -->
    <div class="row justify-content-center mx-0">
        <div class="col-lg-8 col-xl-6 bg-white rounded p-3 pt-0" id="statsDiv">
            <h1 class="text-center display-5 py-5 fw-bold bg-white sticky-top">Final Scores</h1>
        </div>
    </div>
    <div>
        <a href="/login"><button id="playAgain" >Play Again</button></a>
        <a href="/"><button id="GoHome"> Go to Home Page</button></a>
    </div>
</section>