
  <section class="container d-none" id="gameEnded">
   
    <div class="scene">
  
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
      <div class="launcher">
        <div class="container">
          <div class="mainCube"><div></div><div></div><div></div><div></div><div></div><div></div></div>
          <div class="fireworks"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
        </div>
      </div>
     
    </div>
    <div class="row justify-content-center mx-0" >
        <div class="col-lg-8 col-xl-6 bg-white rounded p-3 pt-0" id="statsDiv" style="position: absolute;
        top: -45vh;">
            <h1 class="text-center display-5 py-5 fw-bold bg-white sticky-top" style="color: black;
            width: 40vw;
            background: yellow;
            margin-left: 12px">Final Scores</h1>
        </div>
    </div>
    <div style="    position: absolute;
    left: 35vw;
    top: 19vh;">
        <a href="/login"><button id="playAgain" style="    padding: 12px;
          border-radius: 10px;
          color: white;
          background: #3fa07f;">Play Again</button></a>
        <a href="/"><button id="GoHome" style="    padding: 12px;
          border-radius: 10px;
          color: white;
          background: #3fa07f;"> Go to Home Page</button></a>
    </div>
</section>
<!-- </body>
</html> -->

