<section id="waiting" class="d-none">
    <h1 style="color: white;
    text-transform: capitalize;
    margin: 12px;
    text-align: center;">please wait till 4 user joins</h1>
    <div id="playersPublic" style="margin: auto;
    text-align: center;
    padding: 25px;"></div>
</section>